{% extends 'base.html' %}

{% block content %}
<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-success">
                <div class="card-header text-white bg-success">
                    <h3 class="card-title text-center">Thank You!</h3>
                </div>
                <div class="card-body">
                    <p class="lead text-center">Your message has been submitted successfully.</p>
                    <p class="text-center">We will get back to you soon. Stay tuned!</p>
                    <div class="d-flex justify-content-center">
                        <a href="/" class="btn btn-primary btn-lg">Return to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}







